body{
  background-image:linear-gradient(to bottom,blueviolet,darkblue);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.task{
  width:calc(50vh + 10px);
  height:10vh;
  background:rgb(71, 167, 200);
  display: grid;
  place-items: center;
  font-size:25px;
  color:white;
  box-shadow:0 0 5px 0 blue;
  letter-spacing: 1px;
  border-radius: 10px;
  transition:1s;
  overflow-x: auto;
}
.removeBut{
  height:10vh;
  background:purple;
  border:none;
  color:white;
  font-size:20px;
  box-shadow:0 0 5px 0 darkblue;
  border-radius: 5px;
  transition:1s;
}
.removeBut:hover{
  cursor:pointer;
  transform: scale(1.1);
}
.task:hover{
  transform:scaleY(1.1);
}
.addtask{
  width:53vh;
  height:10vh;
  outline: none;
  border: none;
  background:rgb(59, 8, 98);
  color:white;
  font-size:25px;
  padding: 0;
  padding-left:10px;
  border-radius: 10px;
  box-shadow:0 0 16px 0 darkblue;
  transition: 1s;
}
.addtask:focus{
  border:none;
  outline:none;
}
.addtask:hover{
  transform: scaleY(1.1);
  
}
.addBut{
  height:10vh;
  border:none;
  background:lightsalmon;
  font-size:20px;
  color:white;
  border-radius: 10px;
  transition: 1s;
  box-shadow:0 0 10px 0 orangered;
}
.addBut:hover{
  transform: scale(1.1);
  cursor: pointer;
}
.addButTask{
  display:flex;
  flex-direction: row;
  gap:15px;
  margin-top: 10px;
}

